*{
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
   
}
.navbar .g3{
    font-size: 3rem;
    font-weight: 700;
} 
.banner-section .btn{
    color: white;
    background-color: orange;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    margin: 20px;
    padding: 10px;
    width: 180px;
    height: 64px;
}
.ul-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ul-list li >a{
    text-decoration: none;
    color: rgb(56, 55, 55);
    
}
.ul-list li{
    list-style: none;
}
.heading{

background-color: antiquewhite;
width: 1920px;
height: 1322px;
}.banner{
    width: 100%;
    margin: 5rem auto;
}
.banner-section{
    text-align: center;
    margin: 20px auto;
    width: 862px;
    height:225px ;
    
}
.image img{
    width: 100%;
    border-radius: 8px;
   margin-top: 1rem ;
}
.banner-title{
    padding: 15px;
}
.sub-header{
    margin: 0px 240px;
}