*{
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.ul-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ul-list li >a{
    text-decoration: none;
    color: rgb(56, 55, 55);
    
}
.ul-list li{
    list-style: none;
}
.heading{
padding: 25px 40px;
background-color: antiquewhite;
}.banner{
    width: 100%;
    padding: 3rem auto;
}
.banner-section{
    text-align: center;
    margin: 20px auto;
    width: 700px;
    
}
.image img{
    width: 100%;
    border-radius: 8px;
    margin: 2rem  0rem 0rem 0rem ;
}
.banner-title{
    padding: 15px;
}